"""
API密钥配置文件
用于集中管理项目中使用的所有LLM相关API密钥
暂时先使用硬编码
"""

# DeepSeek API key for app.main
MAIN_APP_KEY = "...." 
MAIN_APP_URL = "...." 



# 添加其他LLM服务的API密钥
# OPENAI_API_KEY = "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# ANTHROPIC_API_KEY = "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# 等等...